{% extends 'app/base.html' %}
{% load static %}
{% block title %}Password Reset Confirm{% endblock title %}
{% block main-content %}
<div class="container my-5">
  <div class="row">
    <h3>Password Reset Confirm</h3>
    <div class="col-sm-9 offset-sm-1">
      <form method="post" novalidate class="shadow p-5">
        {% csrf_token %}
        {% for fm in form %}
          <div class="form-group mb-3">
            {{ fm.label_tag }}
            <div class="input-group">
              {{ fm }}
              {% if 'password' in fm.name %}
                <button type="button" class="btn btn-outline-secondary" onclick="togglePasswordVisibility('{{ fm.id_for_label }}')">
                  Show
                </button>
              {% endif %}
            </div>
            <small class="text-danger">{{ fm.errors|striptags }}</small>
          </div>
        {% endfor %}
        <input type="submit" value="Submit" class="btn btn-primary mt-3">
      </form>
    </div>
  </div>
</div>

<script>
  function togglePasswordVisibility(fieldId) {
    const passwordField = document.getElementById(fieldId);
    const showButton = passwordField.nextElementSibling;
    
    if (passwordField.type === "password") {
      passwordField.type = "text";
      showButton.textContent = "Hide";
    } else {
      passwordField.type = "password";
      showButton.textContent = "Show";
    }
  }
</script>
{% endblock main-content %}
