{% extends 'app/base.html' %}
{% load static %}
{% block title %}Reset Password{% endblock title %}
{% block main-content %}
<div class="container my-5">
  <div class="row my-3">
      <h3>Reset Password</h3>
      <div class="col-sm-9 offset-sm-1 mt-5 shadow-lg py-3 px-3 ">
      <form method="post" action="{% url 'password_reset' %}">
        {% csrf_token %}
        {% for fm in form %}
          <div class="form-group mb-3">
            {{ fm.label_tag }}
            <div class="input-group">
              {{ fm }}
              {% if 'password' in fm.name %}
                <button type="button" class="btn btn-outline-secondary" onclick="togglePasswordVisibility('{{ fm.id_for_label }}')">
                  Show
                </button>
              {% endif %}
            </div>
            <small class="text-danger">{{ fm.errors|striptags }}</small>
          </div>
        {% endfor %}
        <input type="submit" value="Reset Password" class="btn btn-primary">
      </form>
    </div>
  </div>
</div>

<script>
  function togglePasswordVisibility(fieldId) {
    const passwordField = document.getElementById(fieldId);
    const showButton = passwordField.nextElementSibling;
    
    if (passwordField.type === "password") {
      passwordField.type = "text";
      showButton.textContent = "Hide";
    } else {
      passwordField.type = "password";
      showButton.textContent = "Show";
    }
  }
</script>
{% endblock main-content %}
